{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About {{ restaurant_name }}</title>
</head>
<body>

    <nav>
        <a href="{% url 'home' %}" style="color: white; margin-right: 15px; text-decoration: none;">Home</a>
        <a href="{% url 'about' %}" style="color: white; text-decoration: none;">About</a>
    </nav>

    <div style="padding: 20px;">
        <h1>About {{ restaurant_name }}</h1>
        <p>{{ description }}</p>

        <img src="{% static 'home/images/restaurant.jpg' %}"
        alt="Front of {{ restautant_name }}"
        style="max-width: 100%; border-radius: 8px; margin-top: 20px;">
    </div>
</body>